.App {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header, .ContentBase, .Footer {
    padding: 0;
    margin: 0;
    min-height: 3em;
    min-width: 40em;
    max-width: 1170px;
    /* border: 1px dashed; */
}

.ContentBase{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.ContentWithData {
    display: flex;
}
