.App {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header, .Content, .Footer {
    padding: 0;
    margin: 0;
    min-height: 3em;
    min-width: 40em;
    max-width: 1170px;
    border: 1px dashed;
}

.Header {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.HeaderLeft, .HeaderRight {
    border: 1px dashed ;
    display: flex;
    align-items: center;
}

.HeaderRight {
    justify-content: flex-end;
}

.HeaderRightItem {
    margin-right: 1em;
    margin-left: 1em;
}

.Content {
    min-height: 30em;
    display: flex;
}

.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FooterTop {
    display: flex;
}

.FooterItem {
    border: 1px dashed;
    margin: 0 1em;
}